<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800 flex items-center justify-between flex-wrap">
  <div class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img class="h-8 w-auto" src="{{ site.baseurl }}/assets/images/dambi-logo.png" alt="Workflow">
        </div>
        <div class="sm:block sm:ml-6">
          <div class="flex space-x-4">
            {% for item in site.data.menu %}
                {% if page.url == item.link %}
                    <a href="{{item.link}}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">{{item.title}}</a>
                {% else %}
                <a href="{{ item.link }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ item.title }}</a>
                {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>