<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DaMBi - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  </head>
  <body>
    {% include navbar.html %}
    <div class="container w-full mx-auto py-4 items-center flex flex-col">

    <h1 class="font-bold text-gray-800 uppercase text-5xl">{{ page.title }}</h1>
    </div>

    <div class="container mx-auto flex flex-wrap py-6">
    
    {{ content }}

    </div>
  </body>
</html>